
labs/lab1/target
labs/lab1/.idea
labs/lab2/lab2_back/target
labs/lab2/lab2_back/.idea
labs/lab2/lab2_front/node_modules
labs/lab2/lab2_front/.idea
tasks/tasks/target
tasks/task1/target
tasks/tasks/.idea
tasks/task1/.idea
tasks/task3/
